.organizable-size {
  width: 155px;
  height: 24px;
}

.logout-size {
  width: 18px;
  height: 16px;
}

.board-size {
  width: 18px;
  height: 14px;
}

.closeboard-size{
  width: 18px;
  height: 16px;
}

.username-size {
  width: 18px;
  height: 18px;
}

.trash-size {
  width: 18px;
  height: 18px;
  
}

.star-size {
  width: 20px;
  height: 20px;
}

.recover-size {
  width: 10px;
  height: 12px;
}

.container-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

