.organizable-size {
  width: 155px;
  height: 24px;
}

.logout-size {
  width: 18px;
  height: 16px;
}

.board-size {
  width: 18px;
  height: 14px;
}

.closeboard-size{
  width: 18px;
  height: 16px;
}

.username-size {
  width: 18px;
  height: 18px;

}