/* usando */
.section {
  padding: 48px 0px;
  height: 644px;
}

.section__close-boards {
  height: 260px;
}

.section__close-profile {
  height: 556px;
}

.section-lg {
  padding: 96px 0px;
}

.section-sm {
  padding: 0px 32px;
}

.container {
  max-width: 760px;
  margin: auto;
}

.container-sm {
  max-width: 480px;
  margin: auto;
}

.container-lg {
  max-width: 1024px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  margin: auto;
}

.container-xl__sidebar {
  width: 240px;
  height: 720px;
}

.container-xl__boards {
  width: 1040px;
  height: 720px;
}

.container-xl__top {
  width: 240px;
  height: 184px;
}

.container-xl__top-logo {
  width: 240px;
  height: 48px;
  padding: 0px 0px 0px 16px;
}

.container-xl__bottom {
  width: 240px;
  height: 66px;
  border-top: 2px solid #e76a94;
}

.container-xl__bottom-logout {
  width: 83px;
  height: 24px;
  margin-left: 16px;
}

.boards-starred {
  height: 160px;
  margin: 32px 0px;
}

.boards-nonstarred {
  height: 288px;
}

.container-label {
  width: 976px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 0px;
}

.label-name {
  width: 190px;
  height: 96px;
  background-color: #90DBAF;
  border-radius: 0.5rem;
  padding: 8px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label-name__new {
  width: 190px;
  height: 96px;
  border-radius: 0.5rem;
  border: 3px solid #7A7A7A;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}
